<div class='container'>
    <a class="btn btn-edit btn-info"
       href="/#">Go UserList</a>

    <form id="formUser">
        <div class='row list users-container'>
            <!--<% for ( var i = 0; i < users.length ; i++ ){ %>-->
            <!--<div class='col-md-4'>-->
            <!--<input type="text"-->
            <!--value="<%= users[i][config.COLUMN_USER_ID] %>"-->
            <!--class="input input-sm"-->
            <!--name="<%= config.COLUMN_USER_ID %>"></div>-->
            <!--<div class='col-md-4'>-->
            <!--<input type="text"-->
            <!--value="<%= users[i][config.COLUMN_NICKNAME] %>"-->
            <!--class="input input-sm"-->
            <!--name="<%= config.COLUMN_NICKNAME %>">-->
            <!--</div>-->
            <!--<div class='col-md-4'>-->
            <!--<input type="text"-->
            <!--value="<%= users[i][config.COLUMN_USER_PW] %>"-->
            <!--class="input input-sm"-->
            <!--name="<%= config.COLUMN_USER_PW %>">-->
            <!--</div>-->
            <!--<input type="hidden"-->
            <!--value="<%= users[i][config.COLUMN_ID] %>"-->
            <!--class="input input-sm"-->
            <!--name="<%= config.COLUMN_ID %>">-->
            <!--<% } %>-->

            <input class="btn btn-danger"
                   type="submit"
                   id="btnSave"
                   value="SaveUsers">


        </div>
    </form>

</div>